.map_thuenha {
  width: 100%;
  height: 100%;
}
.div-label {
  border: 1px solid #eb3a44;
  border-radius: 5px;
  background: #fee1d7;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  font-size: 14px;
  color: #eb3a44;
}
.a-title {
  color: black;
  font-weight: bold;
}
.a-title:hover {
  color: var(--title);
}
.div-hover-label2 {
  visibility: hidden;
}
.div-hover-label:hover .div-hover-label2 {
  visibility: inherit;
}
.label-title {
  background-color: var(--title);
  padding: 5px;
}
