html {
  --mainBG: #fff;
  --header: #241e2c;
  --footer: #241e2c;
  --itemBG: #f1e8e8;
  --menu: #fff;
  --menuHover: #f48122;
  --menuFocus: #f48122;
  --text: #0a1832;
  --hr: #ccc;
  --menuDropBack: rgba(244, 129, 34, 0.8);
  --itemDropBack: #f79e55;
  --textitemDrop: #fff;
  --textitemDropHover: #fff;
  --textitemDropFocus: #fff;
  --icon: #fff;
  --iconHover: #f48122;
  --drawerBack: #f48122;
  --title: #f48122;
  --titleHover: #f48122;
  --subTitle: #666666;
  --caption: #cab68b;
  --text: #333333;
  --buttonBG: #f48122;
  --buttonText: #fff;
  --buttonBGNoAc: #ffdf80;
  --buttonTextNoAc: #f48122;
  --dividerBG: #f2f2f2;
  --dividerText: #ffffff;
  --borderColor: #cccccc;
}
body {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Varela Round, sans-serif;
}
a,
p,
span,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
link,
label,
sub,
strong,
td {
  font-family: Varela Round, sans-serif;
}
.ant-modal-content {
  background-color: transparent;
}
.modal_menu {
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #285a71, #edc97d);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn_close_modal {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 25px;
  top: 25px;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  font-size: 22px;
}
.modal_menu > div > a {
  color: #fff;
  font-size: 25px;
  margin-bottom: 10px;
}
.content_modal {
  text-align: center;
  flex-direction: column;
  display: flex;
}

.modal_menu > div > a:hover {
  color: #edc97d;
}
.modal_menu > div > a::after {
  color: #edc97d;
}
.modal_menu > div > a:active {
  color: #edc97d;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #c7bebede;
}

body::-webkit-scrollbar {
  width: 7px;
  height: 0;
  background-color: #c7bebede;
  display: inherit;
}

body:hover::-webkit-scrollbar {
  display: inherit;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--title);
}

.div_loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: blanchedalmond;
  flex-direction: column;
}
.div_loading > h3 {
  color: #00aeef;
}
.item {
  width: 56%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.ant-back-top {
  right: 30px;
}

@media screen and (max-width: 768px) {
  .ant-back-top {
    right: 30px;
  }
}
.fab {
  position: fixed;
  bottom: 67px;
  right: 12px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#btnCall {
  outline: none;
  background-color: var(--buttonBGNoAc);
  border: 2px solid var(--borderColor);
  cursor: pointer;
  padding: 7px;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btnCall:hover {
  background-color: var(--buttonBG);
}

#btnCall > i {
  color: var(--buttonTextNoAc) !important;
  font-size: 20px;
}

#btnCall:hover > i {
  color: var(--buttonText) !important;
}
.p_lienhe {
  padding: 5px 15px;
  margin-bottom: 0;
  color: white;
  font-size: 12px;
}
.h_lienhe {
  padding: 0 15px;
  margin-bottom: 0;
  color: white;
}
#btnChat {
  outline: none;
  background-color: var(--buttonBGNoAc);
  border: 2px solid var(--borderColor);
  cursor: pointer;
  padding: 7px;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btnChat:hover {
  background-color: var(--buttonBG);
}

#btnChat > i {
  color: var(--buttonTextNoAc) !important;
  font-size: 20px;
}

#btnChat:hover > i {
  color: var(--buttonText) !important;
}
#btnMua {
  outline: none;
  background-color: var(--buttonBGNoAc);
  border: 2px solid var(--borderColor);
  cursor: pointer;
  padding: 7px;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#btnMua:hover {
  background-color: var(--buttonBG);
}

#btnMua > p {
  color: var(--buttonTextNoAc) !important;
  font-size: 10px;
  margin-bottom: 0;
  line-height: 11px;
  text-align: center;
  font-weight: bold;
}

#btnMua:hover > p {
  color: var(--buttonText) !important;
}

#myBtn {
  outline: none;
  background-color: var(--buttonBGNoAc);
  border: 2px solid var(--borderColor);
  cursor: pointer;
  padding: 7px;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
  /* animation: myBtn 1s ease-in-out; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes myBtn {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}
#myBtn:hover {
  background-color: var(--buttonBG);
}

.icon_ontop {
  color: var(--buttonTextNoAc) !important;
  font-size: 23px;
}
#myBtn:hover .icon_ontop {
  color: var(--buttonText) !important;
}
