.box_quantam_duan {
  padding: 30px 5%;
}
.div_title_new_quantam {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
}
.title_new_quanTam {
  color: var(--title);
  text-decoration: underline;
  font-size: 25px;
}
.a_viewall_tintuc > span {
  font-size: 18px;
  color: #0a1832;
}
.a_viewall_tintuc:hover > span {
  color: var(--title);
}
.a_viewall_tintuc > span > i {
  margin-right: 10px;
}

.row_new_quantam {
  display: grid;
  padding: 5px 0;
  grid-template-columns: repeat(4, 1fr);
}
.item_new_quantam {
  padding: 0 10px;
  margin-bottom: 15px;
}
.div_img_new_quantam {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.img_new_quantam {
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.div_img_new_quantam:hover .img_new_quantam {
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

.text_date_new_quantam {
  font-size: 16px;
  margin: 10px 0;
  color: var(--subTitle);
}
.a_subject {
  font-weight: bold;
  font-size: 19px;
  color: var(--title);
  margin-bottom: 10px;
  line-height: 23px;
}
.a_subject:hover {
  color: var(--titleHover);
}
.sub_new_quantam {
  color: #0a1832;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 19px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  margin-bottom: 15px;
  height: 75px;
}

@media only screen and (max-width: 1024px) {
  .row_new_quantam {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 853px) {
  .row_new_quantam {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 540px) {
  .row_new_quantam {
    grid-template-columns: repeat(1, 1fr);
  }
  .a_viewall_tintuc {
    display: none;
  }
  .div_title_new_quantam {
    justify-content: center;
  }
  .title_new_quanTam {
    text-decoration: none;
  }
}
