.container_nhale_home {
  margin-bottom: 10px;
  overflow: hidden;
}
.title_nhale_home {
  color: var(--title);
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0px;
  margin-top: 35px;
}
.content_nhale_home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.item_nhale_home {
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
}
.item_img_nhale_home {
  height: 180px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.img_nhale_home {
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease;
}
.icon_qt_nhale_home {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_qt_nhale_home > i {
  font-size: 23px;
}
.icon_qt_nhale_home_hover {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_qt_nhale_home_hover > i {
  font-size: 23px;
  color: var(--title);
}
.item_nhale_home:hover .img_nhale_home {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.item_thongtin_nhale_home {
  background-color: var(--itemBG);
  padding: 15px;
}
.title_item_thongtin_nhale {
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 19px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 38px;
  font-weight: bold;
  margin-bottom: 7px;
}
.title_item_thongtin_nhale:hover {
  color: var(--title);
}
.diachi_item_thongtin_nhale {
  color: var(--subTitle);
  font-size: 13.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 19px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 19px;
  margin-bottom: 2px;
}
.diachi_item_thongtin_nhale > i {
  font-size: 16px;
  margin-right: 5px;
}
.gia_item_thongtin_nhale {
  font-size: 15px;
  color: black;
  margin-bottom: 2px;
}
.sl_item_thongtin_nhale {
  display: flex;
  align-items: center;
}
.sl_item_thongtin_nhale > div {
  display: flex;
  align-items: flex-end;
  color: black;
  margin-right: 20px;
  font-size: 13.9px;
}
.sl_item_thongtin_nhale > div > img {
  margin-right: 5px;
}
@media only screen and (max-width: 1024px) {
  .content_nhale_home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 853px) {
  .content_nhale_home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 540px) {
  .content_nhale_home {
    grid-template-columns: repeat(1, 1fr);
  }
}
.container_duan_home {
  margin-bottom: 10px;
}
.content_duan_home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.item_duan_home {
  margin: 10px;
  overflow: hidden;
  border-radius: 5px;
}
.item_img_duan_home {
  height: 180px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.img_duan_home {
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease;
}
.icon_qt_duan_home {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_qt_duan_home > i {
  font-size: 23px;
}
.icon_qt_duan_home_hover {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_qt_duan_home_hover > i {
  font-size: 23px;
  color: var(--title);
}
.item_duan_home:hover .img_duan_home {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.item_thongtin_duan_home {
  background-color: var(--itemBG);
  padding: 15px;
}
.title_item_thongtin_duan {
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 19px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 38px;
  font-weight: bold;
  margin-bottom: 7px;
}
.title_item_thongtin_duan:hover {
  color: var(--title);
}
.diachi_item_thongtin_duan {
  color: var(--subTitle);
  font-size: 13.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 19px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 19px;
  margin-bottom: 2px;
}
.diachi_item_thongtin_duan > i {
  font-size: 16px;
  margin-right: 5px;
}
.gia_item_thongtin_duan {
  font-size: 15px;
  color: black;
  margin-bottom: 2px;
}
.sl_item_thongtin_duan {
  display: flex;
  align-items: center;
}
.sl_item_thongtin_duan > div {
  display: flex;
  align-items: flex-end;
  color: black;
  margin-right: 20px;
  font-size: 13.9px;
}
.sl_item_thongtin_duan > div > img {
  margin-right: 5px;
}
@media only screen and (max-width: 1024px) {
  .content_duan_home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 853px) {
  .content_duan_home {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 540px) {
  .content_duan_home {
    grid-template-columns: repeat(1, 1fr);
  }
}
