.container_quenmatkhau {
  padding: 45px 5%;
  display: flex;
  justify-content: center;
  background: url("http://haiphatland.com.vn/public/static/frontend/css/images/graphics/bg-giaithuong.png");
}

.content_quenmatkhau {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 30px 50px 20px 50px;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--mainBG);
}

.content_quenmatkhau > h2 {
  font-weight: bold;
  color: var(--title);
  font-size: 25px;
  text-align: center;
}
.content_quenmatkhau > strong {
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
}
.row_quenmatkhau {
  display: flex;
  border: 1px solid var(--buttonBG);
  border-right: 4px solid var(--buttonBG);
  width: 100%;
}

.input_quenmatkhau {
  outline: none;
  height: 35px;
  padding: 0 10px;
  border: none;
}

.btn_icon {
  background-color: var(--buttonBG);
  width: 35px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_icon > i {
  color: var(--buttonText);
}

.btn_quenmatkhau {
  padding: 10px 60px;
  background: linear-gradient(90deg, var(--buttonBG), #e9a004);
  color: var(--buttonText);
  border-radius: 30px;
  margin-bottom: 15px;
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 3px 2px rgba(0, 0, 0, 0.1);
}
.btn_quenmatkhau:hover {
  color: var(--buttonText);
}
.content_quenmatkhau > strong > a {
  color: var(--title);
}

.txt_err {
  width: 100%;
  text-align: right;
  font-size: 12px;
  color: red;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  .container_quenmatkhau {
    padding: 30px 5%;
  }
  .content_quenmatkhau {
    width: 100%;
  }
}

@media only screen and (max-width: 540px) {
  .rowtext_quenmatkhau {
    flex-wrap: wrap;
  }
  .content_quenmatkhau {
    padding: 30px 20px;
  }
}

@media only screen and (max-width: 320px) {
  .btn_icon {
    width: 23.5px !important;
  }
}
