.container_duantq_home {
  padding: 30px 5% 20px 5%;
}
.title_duantq_home {
  color: var(--title);
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  margin-bottom: 0px;
}
.item_duantq_home {
  height: 280px;
  width: 100%;
  border-radius: 5px;
  padding: 0 10px;
}
.item_img_duantq_home {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}
.img_duantq_home {
  height: 100%;
  width: 100%;
  transition: transform 0.5s ease;
}
.icon_qt_duantq_home {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_qt_duantq_home > i {
  font-size: 23px;
}
.icon_qt_duantq_home_hover {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.icon_qt_duantq_home_hover > i {
  font-size: 23px;
  color: var(--title);
}
.item_duantq_home:hover .img_duantq_home {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.item_thongtin_duantq_home {
  background-color: var(--itemBG);
}
.title_item_thongtin_duantq_home {
  font-size: 17px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  color: white;
  background: linear-gradient(360deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  padding-bottom: 15px;
  padding-top: 5px;
  margin: 0 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.title_item_thongtin_duantq_home:hover {
  color: var(--title);
}
.diachi_item_thongtin_duan {
  color: var(--subTitle);
  font-size: 13.5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 19px;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  height: 19px;
  margin-bottom: 2px;
}
.diachi_item_thongtin_duan > i {
  font-size: 16px;
  margin-right: 5px;
}
.gia_item_thongtin_duan {
  font-size: 15px;
  color: black;
  margin-bottom: 2px;
}
.sl_item_thongtin_duan {
  display: flex;
  align-items: center;
}
.sl_item_thongtin_duan > div {
  display: flex;
  align-items: flex-end;
  color: black;
  margin-right: 20px;
  font-size: 13.9px;
}
.sl_item_thongtin_duan > div > img {
  margin-right: 5px;
}
.content_duantq_home {
  position: relative;
}
.btn_prev {
  position: absolute;
  left: -5px;
  top: 45%;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.btn_next {
  position: absolute;
  right: -5px;
  top: 45%;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
@media only screen and (max-width: 540px) {
  .container_duantq_home {
    padding: 15px 5%;
  }
}
